body {
  position: relative;
  color: #151233;
  font-family: Arial, Helvetica, Verdana, Sans-serif;
  font-size: 14px;
  font-weight: 500;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.page-head-menu {
  background-color: #F2F2F2;
}

.page-head-menu:after {
  content: '';
  clear: both;
  display: block;
}

.menu-title {
  display: block;
  float: left;
  width: 75%;
  padding-top: 5px;
}

.menu-title h1,
.menu-title p {
  padding-left: 45px;
  margin: 20px 0 0 0;
  display: block;
  width: 100%;
}

.menu-list {
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  background-color: #EDF5FC;
  width: 25%;
}

.menu-item {
  display: block;
  min-width: 100px;
  color: #15111c;
  background-color: #7BA5C9;
  border-radius: 7px;
  height: 35px;
  padding: 0;
  margin: 7px 11px;
}

.page-section {
  background-color: #FEFEFE;
  text-align: left;
  position: relative;
  margin-top: 0;
  width: 100%;
  padding: 20px 0 20px 50px;
  height: auto;
  border-bottom: 1px solid rgba(30, 30, 30, 0.2)
}

p, h2, a {
  font-style: normal;
  size: 1em;
}

h2 {
  font-size: 1.5em;
  border-radius: 4px;
}

p.page-footer {
  font-size: 0.7em;
  color: white;
}

.center-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: 35px;
  padding: 0 17px;
}

a:active {
  color: #FFF;
}

a:link,
a:visited {
  text-decoration: underline;
  color: #383838;
  margin-left: initial;
}

a:hover,
a:active {
  text-decoration: none;
  color: #808080;
}

.menu-item a:hover,
.menu-item a:active {
  text-decoration: underline;
  color: #F8F8F8;
}

@media only screen and (max-width: 741px) {
  .page-section {
    padding-left: 70px;
  }
}

@media only screen and (max-width: 550px) {
  .content {
    margin-top: 0px;
  }

  .menu-background {
    height: 99px;
  }

  .menu {
    display: block;
    top: -99px;
  }

  .menu .button {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0;
    width: 100%;
    clear: both;
    margin: 0;
    margin-bottom: 6px;
    height: 20px;
  }

  .menu .button a {
    color: #EFEFFE;
  }

  .center-text {
    height: 22px;
  }
}

@media only screen and (max-width: 310px) {
  .header {
    background-position: 12px 27px;
    background-size: 100% auto;
  }
}

p.footer {
  padding: 15px 0 15px 20px;
  margin: 0;
  background-color: #FEFEFE;
  color: #BCBCBC;
}

@keyframes flash-reddish {
  0% {
    background-color: white;
  }
  20% {
    background-color: #ff6f4f;
  }
  90% {
    background-color: #ffd2ba;
  }
  100% {
    background-color: white;
  }
}

.flash-red {
  -webkit-animation: flash-reddish 2s linear;
  animation: flash-reddish 2s linear;
  width: auto;
}